<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.project.hotelmanagementproject">

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="HardcodedDebugMode">
        <activity android:name=".view.AdminSearchUserActivity" />
        <activity android:name=".view.GuestRequestReservationActivity" />
        <activity android:name=".view.UpdateProfileActivity" />
        <activity android:name=".view.ViewProfileActivity" />
        <activity android:name=".view.GuestModifyReservationActivity" />
        <activity android:name=".view.GuestReservationSummActivity" />
        <activity android:name=".view.GuestReservationDetailsActivity" />
        <activity android:name=".view.MgrModifyRoomActivity" />
        <activity android:name=".view.MgrRoomDetailsActivity" />
        <activity android:name=".view.MgrSearchRoomActivity" />
        <activity android:name=".view.MgrAvlblRoomsActivity" />
        <activity
            android:name=".view.LoginActivity"
            android:theme="@style/LoginTheme" />
        <activity android:name=".view.ChangePasswordActivity" />
        <activity android:name=".view.HomeActivity" />
        <activity android:name=".view.MainActivity" />
        <activity
            android:name=".view.RegisterActivity"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".view.SplashScreenActivity"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>