<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.project.hotelmanagementproject">

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="HardcodedDebugMode">
        <!--Ankt changes starts-->
        <activity android:name=".controller.GuestRequestReservationDetailsActivity" />
        <activity android:name=".controller.GuestRequestReservationResultActivity" />
        <activity android:name=".controller.GuestRequestReservationPayActivity"/>
        <activity android:name=".controller.GuestReqResvPayConfirmRoomDetailsActivity" />
        <!--Ankt changes ends-->
        <activity android:name=".controller.MgrResvDetailsActivity"></activity>
        <activity android:name=".controller.MgrSearchResvActivity" />
        <activity android:name=".controller.AdminSearchUserActivity" />
        <activity android:name=".controller.AdminEditUserDetails" />
        <activity android:name=".controller.AdminViewUserDetails" />
        <activity android:name=".controller.GuestRequestReservationActivity" />
        <activity android:name=".controller.GuestRequestHotelDetailsActivity" />
        <activity android:name=".controller.UpdateProfileActivity" />
        <activity android:name=".controller.ViewProfileActivity" />
        <activity android:name=".controller.GuestModifyReservationActivity" />
        <activity android:name=".controller.GuestReservationSummActivity" />
        <activity android:name=".controller.GuestReservationDetailsActivity" />
        <activity android:name=".controller.MgrModifyRoomActivity" />
        <activity android:name=".controller.MgrRoomDetailsActivity" />
        <activity android:name=".controller.MgrSearchRoomActivity" />
        <activity android:name=".controller.MgrAvlblRoomsActivity" />
        <activity
            android:name=".controller.LoginActivity"
            android:theme="@style/LoginTheme" />
        <activity android:name=".controller.ChangePasswordActivity" />
        <activity android:name=".controller.HomeActivity" />
        <activity android:name=".controller.MainActivity" />
        <activity
            android:name=".controller.RegisterActivity"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".controller.SplashScreenActivity"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>